{% load i18n lfs_tags %}

<div class="thumbnail pagination-novo">
    {% include "lfs/catalog/categories/product/products_navigation.html" %}
    {% sorting %}
</div>


{% block products-header %}
<h1 class="first-heading">
    {{ category.name }}
</h1>
<div class="description">
    {{ category.description|safe }}
</div>
{% endblock %}
<div id="products">
    <table class="lfs-default produtos-table">
        {% for col in products %}
            <tr class="product-row col-md-2">
                {% for product in col %}
                    <td class="product-data produtos">
                        <div class="thumbnail">
                            <div class="product-image product-image2">
                                <a href="{{ product.obj.get_absolute_url }}"><img src="{{ product.obj.get_image.image.url_200x200 }}"
                                alt="{{ product.obj.get_name }}"
                                title="{{ product.obj.get_name }}"/></a>
                            </div>
                            <div>
                                <a href="{{ product.obj.get_absolute_url }}"><div class="product-title product-title3">{{ product.name }}</div></a>
                                <div class="product-description">{{ product.obj.get_short_description|safe }}</div>
                            </div>


                            {% category_product_prices_gross product.obj.id %}

                            <div class="product-price product-price3">
                                    {% if price_starting_from %}
                                        {% trans "Starting at" %}
                                    {% endif %}
                                    {% if product.obj.get_for_sale %}
                                       <span class="for-sale-standard-price">{{ standard_price|currency:request }}</span>
                                       <span class="for-sale-price">{{ price|currency:request }}</span>
                                    {% else %}
                                        <span class="standard-price">{{ price|currency:request }}</span>
                                    {% endif %}
                                    {% if product.price_unit %}
                                        / {{ product.price_unit }}
                                    {% endif %}
                                    {% if product.obj.get_active_packing_unit %}
                                        <div class="base-price">
                                            {{ base_packing_price|currency:request }}* / {{ product.obj.get_packing_info.1 }}
                                        </div>
                                    {% endif %}
                                    {% if product.obj.get_active_base_price %}
                                        <div class="base-price">
                                            {% if base_price_starting_from %}
                                                {% trans "Starting at" %}
                                            {% endif %}
                                            {{ base_price|currency:request }}*
                                            {% if product.obj.get_base_price_unit %}
                                                / {{ product.obj.get_base_price_unit }}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                            </div>

                            {# Attachments ################}
                            <div itemscope itemtype="http://schema.org/Product">
                            <div id="product-form-wrapper">
                                <form id="product-form"
                                      action="{% url 'lfs_product_dispatcher' %}"
                                      data="{% url 'lfs_select_variant_from_properties' %}"
                                      method="post">
                                    {% csrf_token %}

                                {% if product.obj.is_deliverable %}
                                    <table align="right" class="buttons">
                                        <tr>
                                            {% if product.obj.get_active_packing_unit %}
                                                <td>
                                                    <div class="product-quantity packing-unit"
                                                        id="packing-url"
                                                        data="{% url 'lfs_calculate_packing' product.obj.id %}">
                                                        <input class="number quantity"
                                                               name="quantity"
                                                               size="3"
                                                               type="text"
                                                               value="{{ product.quantity }}" /> {{ product.unit }}
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td class="product-quantity">
                                                    <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdLess">-</button>
                                                    <input class="number quantity"
                                                           name="quantity"
                                                           size="3"
                                                           type="text"
                                                           value="{{ product.quantity }}" />
                                                    <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdPlus">+</button>
                                                </td>
                                            {% endif %}
                                            <td nowrap="nowrap">
                                                <!--[if IE]><input type="text" style="display: none;" disabled="disabled" » size="20" value="Ignore field. IE bug fix. LFS issue #57" /><![endif]-->

                                            </td>
                                        </tr>
                                    </table>
                                        <a href="#"><img class="emphasized adicionar-produto"
                                                                   src="{{ STATIC_URL }}img/bt_comprar.png"></a>
                                    <div class="packing-result">
                                        {{ product.packing_result }}
                                    </div>
                                {% else %}
                                    <button class="emphasized"
                                            onclick="window.location='{% url 'lfs_contact_form' %}'; return false;"
                                            name="">{% trans 'Send request' %}</button>
                                {% endif %}

                                <p class="product-description">
                                    {{ product.obj.get_description|safe}}
                                </p>



                                {# Attachments #}
                                {% if attachments %}
                                    <div class="attachments">
                                        <h2 class="section">{% trans 'Attachments' %}</h2>
                                        {% for attachment in attachments %}
                                        <div class="item">
                                            <div class="title">
                                                <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                                                    {{ attachment.title}}
                                                </a>
                                            </div>
                                            {% if attachment.description %}
                                            <div class="description">
                                                {{ attachment.description }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}



                                <input type="hidden" class="produto-id"
                                       name="product_id"
                                       value="{{ product.obj.id }}" />
                            </form>
                        </div>
                    </div>
                    </div>
            <a name="reviews"></a>
                            {# Attachments #####################}
                        </td>


        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% include "lfs/catalog/categories/product/products_navigation.html" %}
</div>
